@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  font-family: "Noto Sans KR", sans-serif;
}

body {
  background-color: white;
}

.container {
  width: 1200px;
  /* border: 3px solid black; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.header {
  background-color: #0c51a6;
  display: flex;
  color: white;
  padding: 25px 0 25px 40px;
  justify-content: space-between;
  align-items: center;
}

.header > h1 {
  cursor: pointer;
}

.header > ul {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  width: 650px;
  justify-content: space-around;
  padding: 15px 0;
}

.header > ul > li {
  cursor: pointer;
}

.slider {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slider-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  position: absolute;
  padding: 20px 65px;
  display: flex;
  flex-direction: column;
  /* flex 사용 안할 때
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  */
}

.banner {
  display: flex;
  flex: 1;
  /* height: 400px; */
}

.banner > div {
  flex : 1;
}

.banner img {
  width: 100%;
  height: 100%;
}

.notice {
  background-color: #e5f1ff;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
}

.notice > h2 {
  cursor: pointer;
  margin: 10px 0 0 10px;
}

.notice > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 0 10px;
}

.notice > div > span:nth-child(1) {
  cursor: pointer;
  flex: 1;
}

.notice > div > span:nth-child(2) {
  flex-shrink: 0;
}

.booking {
  position: relative;
}

.booking-layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.booking-layout > button {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.info {
  background-color: #e7e7e7;
  padding: 25px 30px;
  display: flex;
  align-items: center;
}

.info > h1 {
  color: #808080;
  margin-right: 300px;
}

.info-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
}

.info-2 > ul {
  width: 480px;
  display: flex;
  justify-content: space-around;
}

.info-2 > ul > li {
  cursor: pointer;
}