@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", "sans-serif";
}

body {
  background-color: white;
}

.container {
  width: 1200px;
  /* border: 3px solid black; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.header {
  background-color: #0c51a6;
  display: flex;
  color: white;
  padding: 25px 0 25px 40px;
  justify-content: space-between;
  align-items: center;
}

.title > p {
  font-size: 2rem;
  font-weight: 800;
  cursor: pointer;
}

.header-info {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  gap: 20px;
}

.header-info > p {
  padding: 15px 30px;
  cursor: pointer;
}

.slider {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slider-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  color: white;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.slider-overlay > p:first-child {
  font-size: 2rem;
  font-weight: 800;
}

.banner {
  display: flex;
  flex: 1;
}

.banner > div {
  flex : 1;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.notice {
  background-color: #e5f1ff;
  padding: 15px 15px 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
}

.notice > p:first-child {
  font-size: 1.5rem;
  font-weight: 900;
  cursor: pointer;
}

.notice > div {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.booking {
  position: relative;
}

.booking-layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.booking-layout > button {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.info {
  background-color: #e7e7e7;
  padding: 30px;
  display: flex;
  align-items: center;
}

.info-title > p {
  font-size: 2rem;
  font-weight: 800;
  color: #808080;
  margin-right: 300px;
}

.info-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 0.8rem;
}

.info-privacy {
  display: flex;
  gap: 10px;
}

.info-privacy > span {
  cursor: pointer;
}