.container {
  width: 500px;
  height: 400px;
  margin: 30px auto;
  border: 1px solid black;
  display: grid;
  /* grid-template-columns: 100px 100px 100px; */
  /* grid-template-columns: 20% 30% 10% 20%; */
  /* fr은 배율 */
  /* grid-template-columns: 1fr 2fr 3fr; */
  /* 표준 방식 */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* repeat(개수, 크기) */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px 20px;
}

.item {
  border: 1px solid red;
}