div {
  border: 3px solid black;
  margin: 50px;
  width: 500px;
  height: 600px;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.img1 {
  object-fit: contain;
}

.img2 {
  /* 비율을 유지한 채 이미지를 영역에 채움 */
  object-fit: cover;
  /* 좌우정렬 상하정렬 */
  object-position: center center;
  /* default */
}