.container {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.page-title {
  border-left: 5px solid #333;
  padding-left: 15px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  
}

tr td {
  border: 1px solid black;
  padding: 10px 15px;
}

input {
  padding: 8px;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 5px;
}