div {
  border: 3px solid black;
}

.container {
  width: 600px;
  height: 400px;
  margin: 30px auto;
}

.container > div:first-child {
  height: 20%;
  border-color: burlywood;
}

.main {
  display: flex;
  height: 80%;
  border-color: yellowgreen;
}

.main > div:first-child {
  width: 60%;
  border-color: forestgreen;
}

.main > div:last-child {
  width: 40%;
  border-color: forestgreen;
  display: flex;
  flex-direction: column;
}

.main > div:last-child > div {
  height: 100%;
  border-color: darkblue;
}