.container {
  width: 600px;
  height: 400px;
  margin: 30px auto;
}

div {
  border: 3px solid black;
}

.div-1 {
  border-color: burlywood;
  height: 20%;
  display: flex;
}

.div-2 {
  border-color: yellowgreen;
  height: 80%;
  display: flex;
}

.div-2 > div:first-child {
  border-color: forestgreen;
  width: 60%;
}

.div-2 > div:last-child {
  border-color: forestgreen;
  width: 40%;
}

.div-2-2 {
  display: flex;
  flex-direction: column;
}

.div-2-2 > div {
  border-color: darkblue;
  flex-grow: 1;
}