@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", "sans-serif";
  box-sizing: border-box;
}

body {
  background-color: #778899;
}

.container {
  width: 80%;
  /* height: 100vh; */
  background-color: white;
  padding: 5px 10px 10px 10px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
}

.header > p:first-child {
  background-color: #FFB6C1;
  color: white;
  width: 100px;
  padding: 5px;
  border-radius: 12px;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0px auto;
  /* display: inline-block; */
  /* margin-bottom: 10px; */
}

.header > p:nth-child(2) {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 10px;
}

.lightblue {
  color: #87cefa;
}

.header p:nth-child(3) {
  font-size: 0.7rem;
  line-height: 1.6;
  padding: 10px 10%;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.item img {
  width: 100%;
  height: 100%;
}

.item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.item:hover .item-overlay {
  opacity: 1;
}

.item-overlay p {
  font-size: 0.7rem;
}

.social-icons {
  display: flex;
  gap: 8px;
  /* cursor: pointer; */
}

.social-icons > span:hover {
  cursor: pointer;
  color: lightskyblue;
}

/* background-color: rgba(0, 0, 0, 0.5); 0 ~ 255 */