body {
  padding: 30px 20px;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.container {
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 4px 12px gray;
  width: 900px;
}

.container > h2 {
  padding-top: 10px;
}

.log-in {
  display: flex;
  gap: 10px;
  padding: 10px 20px;
}

.login-input {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #eeeeee;
  padding: 10px;
  border-radius: 6px; 
  gap: 10px;
}

.login-input input {
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  padding: 5px;
}

.login-input p {
  font-weight: bold;
}

.chk-div {
  display: flex;
}

.login-input button {
  align-self: flex-start;
  background-color: #f07e80;
  padding: 5px 30px;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.info {
  flex: 1;
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  flex-direction: column;
}

.info-1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info-1 h3 {
  margin-bottom: 5px;
}

.info-1 button {
  width: 100%;
  padding: 5px;
  background-color: #87cefa;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.info-2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #0e8418;
  gap: 5px;
}

i {
  color: #98ef9e;
}

.info-1 button:active {
  background-color: #0094cd;
}

.login-input button:active {
  background-color: #d05c60;
}