body {
  background-color: #caf4ff;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container > div {
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  display: flex;
}

img {
  border: 1px solid gray;
  border-radius: 50%;
}