body {
  background-color: #caf4ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.box-div {
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  width: 400px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.box-div:hover {
  transform: scale(1.1);
}

.box-div > div {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  gap: 3px;
}

span {
  font-size: 1.3rem;
}

.box-div > div > span:nth-child(1) {
  font-weight: bold;
}

.box-div > div > span:nth-child(2) {
  color: gray;
}

img {
  border: 1px solid #d4d4d4;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}