body {
  background-color: #EEEEEE;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  width: 300px;
  /* height: 600px; */
  margin: 40px 0px;
  border-radius: 15px;
  box-shadow: 0px 0px 6px 4px #666666;
  padding: 40px 20px 8px 20px;
}

/* 속성 선택자 */
/* type이 text인 input 태그만 선택 */
/* input[type="text"],
input[type="password"] 
{
  width: 100%;
  padding: 8px 4px;
} */

/* input 태그에서 type이 checkbox인 것 제외하고 전부 다! */
input:not([type="checkbox"]) {
  width: 100%;
  padding: 8px 4px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.form > div {
  margin-bottom: 12px;
}

.info {
  font-size: 0.7rem;
}

.chk-div {
  display: flex;
  align-items: center;
}

.btn {
  background-color: #4285f4;
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
}

.link {
  text-align: center;
  margin-top: 12px;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: blue;
}

/* .img {
  background-image: url(house.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
} */